<% include partials/head.ejs %>

<div class="container">
        <% include buscador.ejs %>
    <div class="row">
        <div class="col-12">

                <div class="alert alert-success" role="alert">
                        Se agrego el nuevo alumno
                </div>
        </div>
    </div>
   
</div>
<% include partials/footer.ejs %>